div .definition span {
  text-decoration: underline;
  color: yellow;
}

div .definition:before {
  text-decoration: underline;
  color: white;
  content: "Definition:";
}

div .definition {
  padding: 20px;
  border: solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}

div .example:before {
  text-decoration: underline;
  color: white;
  content: "Ex:";
}

div .example {
  padding: 20px;
  border: solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}

div .proposition:before {
  text-decoration: underline;
  color: white;
  content: "Proposition:";
}

div .proof {
  padding-bottom: 40px;
}

.expand_proof:before {
  text-decoration: underline;
  color: white;
  content: "Proof:";
}

.active, .expand_proof:hover {
  background-color: #3c2f59;
}

.math_content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: black;
}

div .math_content b {
  color: black;
}

.expand_proof {
  appearance: unset;
  transition: unset;
  border-radius: unset;
  display: unset;
  font-weight: unset;
  letter-spacing: unset;
  line-height: unset;
  position: unset;
  text-decoration: unset;
  text-transform: unset;
  white-space: unset;

  background-color: #261c3e;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.expand_proof:after {
  background: unset;
}
